@font-face {
	font-family: 'Yanone Kaffeesatz';
    src: local('D:/font/Yanone Kaffeesatz');
}	

/* Заголовок: История Друида*/
.h1 {
	font-family: 'Yanone Kaffeesatz';
	color: white;
	text-align: center;
	font-size: 50px;
	margin: 0 auto;
	padding: 20px 0;
	color: rgba(190,76,187,1);

}


/*Создание фиолетового фона страницы*/
html {
	background-color: purple;
}


/*Создание тела сайта по середине шириной 650px*/
body {
	width: 650px;
	border: 5px solid gray;
	background-color: black;
	padding: 0px 20px 40px 20px;
	margin: 0 auto;
}


/*Первое прямоугольное изображение сразу под заголовком*/
.image-1 {
	display: block;
	width: 600px;
	margin: 0 auto;
	border: 5px solid white;
	border-radius: 16px;
}


/*Второе изображение в кружочке*/
.image-2 {
	display: block;
	width: 150px;
	margin: -120px 0px 50px 25px;
	border: 5px solid rgba(190,76,187,0);
	border-radius: 50%;
	opacity: 0.5;
	transition: 400ms;
}

.image-2:hover {
	border: 5px solid rgba(190,76,187,1);
	opacity: 1;
	transform: scale(1.2);
}

/*Псс, наведи на меня*/
.p1 {
	color: white;
	margin: 0 auto;
	padding: 0px 28px;
	line-height: 1.25;

}

/*А это тупо, чтобы не забыть про перечисление: */
.p2 {
	color: white;
	margin: 75px 0px 0px 0px;
	line-height: 1.25;

}


/*Ссылочка на .*/
.p3 {
 	color: white;
 	line-height: 1.25;


}

/*Перечисление чего-то под p3*/
ol {
 	color: white;
 }

/*Цвет гиперссылки на страницу разработчика*/
a {
 	color: rgba(190,76,187,1);
 	text-decoration: none;
 	
 	border-radius: 10px;
 	transition: 400ms;
 	margin: 0 auto;
 	padding: 1px 4px 4px 4px;
 	background: solid rgba(0,0,0,0);

 }

 a:hover {
 	
 	background: white;
 }


/*Сила героя заголовок над второй картинкой*/
.h2 {
	font-family: 'Yanone Kaffeesatz';
	color: white;
	text-align: center;
	font-size: 30px;
	margin: 50px 50px 50px 25px;
	padding: 0px 450px 4px 0px;
	color: rgba(190,76,187,1);
	background-color: white;
	width: 150px;
}

.p_h2 {
	color: white;
	margin: 100px 0px 0px 210px;
	padding: 20px 20px;
	border: 2px solid white;
	border-radius: 16px;

}

.p_vstuplenie {
	
	color: white;
	margin: 25px auto;
	padding: 0px 28px;
	
}

